@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');




#select_filtros{
    padding: 10px;
    text-align: center;
    color: rgb(216, 216, 216);
    background-image:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 79, 190));
    cursor: pointer;
    font-size: 16px;
}

#filtro-g{
    display: none;
}
#select_filtros > span{
    font-size: 16px;
}

#select_filtros:hover{
    color: rgb(255, 255, 255);
}


#filtros{
    display: none;
    text-align: center;
    max-width: 700px;
    width: 85%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.378);
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.231);
    
}
.btn{
    display: inline-block;
    width: 100px;
    height: 20px;
    border: 1px solid rgb(3, 61, 141);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.074);
    padding: 5px;
    margin: 5px;
    color: rgb(3, 61, 141);
    border-radius: 10px;
    
}
.btn:hover, .btn > a:hover{
    background-color: rgb(3, 61, 141);
    color: rgb(255, 255, 255);
}
#logos > h3 {
    text-align:  center;
    color: rgb(2, 41, 95);
    margin-bottom: 10px;
}

.logo{
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.116);
    margin: 3px;
    height: 70px;
    width: 120px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 14px;
    padding-top: 5px;
}



#vitrine{
    width: 100%;
}

.caixas{
    position: relative;
    display: inline-block;
    width: 280px;
    height: 415px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 11px 20px rgba(82, 82, 82, 0.179);;
    background: center center no-repeat ;
    background-size: 250px 250px;
}


.caixas > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -79%);

    width: 265px;
    height: 250px;

    border-radius: 10px 10px 0px 0px;
}

.caixas > #favorite > span {
    position: absolute;
    left: 89%;
    top: 8%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 4, 255);
    border-radius: 50%;
    cursor: pointer;
}
.caixas > #favorite > span:hover {
    color: rgb(255, 0, 0);
}

.caixas > a > .info{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);

    width: 265px;
    height: 30px;
    padding-top: 10px;

    border-radius: 10px ;
    background-color:rgb(3, 61, 141);
    color: white;
}
.caixas > a > .info:hover{
    color: rgb(183, 183, 183);
}

.caixas > #nome{
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    margin-top: 250px;
    margin-left: 12px;
    text-shadow: 0px 0px 20px rgba(105, 105, 105, 0.116);
    color: rgb(3, 61, 141);
}

.caixas > #ano {
    position: absolute;
    left: 85%;
    top: 66%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
}

.caixas > #descricao {
    position: absolute;
    text-align: left;
    left: 40%;
    top: 76%;
    width: 200px;
    height: 50px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.42);
    

    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.caixas > #valor {
    position: absolute;
    left: 45%;
    top: 83%;
    transform: translate(-50%, -50%);

    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-shadow: 0px 0px 20px rgba(0, 27, 71, 0.348);
    color: rgb(3, 61, 141);

}

#paginator{
    
    margin-top: 15px;
   
}

.page-link{
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(3, 61, 141);
    background-color: rgb(3, 61, 141);
    color: rgb(255, 255, 255);
    
}

.page-desativado{
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgb(3, 61, 141);
    color: rgb(3, 61, 141);
}